
.navbar .navbar-brand .navbar-brand-logo {
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
  color: white;
}
.navbar .navbar-brand .navbar-brand-logo:hover {
  color: gold;
}

.api-card-icon {
  border: 2px solid #39a5dc;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.list-view-pf-left .fa.list-view-pf-icon-sm.api-deployed, .api-card-icon.api-deployed {
  border: 2px solid rgb(85, 202, 112);
}

.api-card .api-card-title {
  font-size: 16px;
  font-weight: bold;
}

.list-view-pf .list-group-item:hover, .api-card:hover {
	background-color: rgb(221, 234, 255);
}

.api-editor {
}

.api-editor .api-editor-nav-vertical {
	position: fixed;
	top: 73px;
}

.api-editor .api-editor-body {
}

.api-editor .api-editor-body #api-editor-source {
	height: auto;
	position: fixed;
	top: 113px;
	bottom: 0px;
	left: 20px;
	right: 50%;
	overflow: auto;
}
.api-editor .api-editor-body .api-editor-docs {
	position: fixed;
	top: 113px;
	bottom: 0px;
	left: 51%;
	right: 0px;
}


.api-editor .api-editor-body .container-cards-pf {
	padding-top: 20px;
	margin-top: 0px;
}

.api-editor .api-editor-overview .api-editor-card .card-pf-heading .card-pf-title {
  font-size: 16px;
}

.api-editor .api-editor-card .card-pf-link-with-icon .fa {
	font-size: 15px;
}

.api-breadcrumbs {
	background: white;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.api-breadcrumbs .breadcrumb {
	margin-bottom: 0px;
}

.api-list-items {
	margin-top: 10px
}

.api-list-items .list-group-item, .api-list-items .list-group-item:first-child {
	margin-bottom: 5px;
	border-top: 1px solid rgb(57, 165, 220);
}

.api-list-apis .toolbar-pf {
	background-color: transparent;
}

.api-list-apis .toolbar-pf .toolbar-pf-results {
	background-color: white;
}

.api-recent-apis .api-item {
	font-size: 15px;
}
.api-recent-apis .api-item p {
  font-size: 11px;
  padding-left: 20px;
}

.api-endpoint, .api-type {
	margin-bottom: 5px;
}

.api-endpoint .api-endpoint-heading, .api-type .api-type-heading {
  border: 1px solid transparent;
  border-top: 1px solid rgb(57, 165, 220);
  background-color: #f3f3fa;
}
.api-endpoint .api-endpoint-heading h2, .api-type .api-type-heading h2 {
  padding: 3px;
  font-size: 18px;
  margin: 5px;
}
.api-endpoint .api-endpoint-heading h2 a, .api-type .api-type-heading h2 a {
  color: black;
  font-weight: 300;
}
.api-endpoint .api-endpoint-heading h2 a span.endpoint-param {
	font-weight: 400;
	color: #ff6a7c;
}
.api-endpoint .api-endpoint-heading:hover, .api-type .api-type-heading:hover {
	background-color: rgb(57, 165, 220);
	color: white;
}
.api-endpoint .api-endpoint-heading:hover h2 a, .api-type .api-type-heading:hover h2 a {
  color: white;
}
.api-endpoint .api-endpoint-heading:hover h2 a span.endpoint-param {
  color: white;
}

.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd {
	float: right;
	font-weight: 400;
	border: 1px solid rgb(0, 101, 156);
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
}

.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd span {
	color: #ccc;
}
.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd span.enabled {
  color: black;
}
.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd .api-endpoint-heading-gppd-get.enabled {
	color: green;
}
.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd .api-endpoint-heading-gppd-put.enabled {
  color: orange;
}
.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd .api-endpoint-heading-gppd-post.enabled {
  color: orange;
}
.api-endpoint .api-endpoint-heading h2 .api-endpoint-heading-gppd .api-endpoint-heading-gppd-del.enabled {
  color: red;
}

.api-endpoint .api-endpoint-detail, .api-type .api-type-detail {
	padding: 5px;
}

.api-endpoint .api-endpoint-detail .nav-tabs, .api-type .api-type-detail .nav-tabs {
	font-size: 12px;
	margin-bottom: 0px;
}
.api-endpoint .api-endpoint-detail .nav-tabs li a, .api-type .api-type-detail .nav-tabs li a {
	padding-top: 5px;
	padding-bottom: 5px;
}

#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active a {
	font-weight: bold;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-get a {
  color: green;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-get a::before {
  background: green !important;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-put a {
  color: orange;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-put a::before {
  background: orange !important;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-post a {
  color: orange;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-post a::before {
  background: orange !important;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-del a {
  color: red;
}
#api-editor .api-endpoint .api-endpoint-detail .nav-tabs-pf li.active.tab-del a::before {
  background: red !important;
}

#api-editor .api-endpoint .api-endpoint-detail h1 {
	font-size: 14px;
	font-weight: bold;
	color: #666;
	margin-top: 15px;
	margin-bottom: 0px;
}
#api-editor .api-endpoint .api-endpoint-detail hr {
	margin-top: 8px;
	margin-bottom: 8px;
}
#api-editor .api-endpoint .api-endpoint-detail h2 {
	font-size: 15px;
	text-decoration: underline;
}
#api-editor .api-endpoint-parameters td.parameter {
	color: #ff6a7c;
	width: 1%;
	white-space: nowrap;
}
#api-editor .api-endpoint-parameters td.icons, .api-details table td.icons {
	color: #666;
  width: 1%;
  white-space: nowrap;
}
#api-editor .api-endpoint-parameters td.icons i:hover {
	cursor: pointer;
	color: #321;
}
#api-editor .api-endpoint-parameters td.description {
}
#api-editor .api-endpoint-parameters td.type {
}

#api-editor .api-response .tlabel {
	padding: 2px;
	padding-right: 10px;
	text-align: right;
}
#api-editor .api-response .tlabel span {
	font-weight: bold;
	color: #666;
}
