@themes-dark-border-color:  #666;
@themes-dark-font-color: white;
@themes-dark-font-color-hover: lighten(@themes-dark-font-color, 15%);
@themes-dark-font-color-soft: #666;

#api-editor.dark {
  color: @themes-dark-font-color;
  background-color: #1D2225;
}

#api-editor.dark .api-master-top {
  background-color: black;
  border-bottom: 1px solid @themes-dark-border-color;
}

#api-editor.dark .api-master-top a {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-top:hover {
  background-color: #222;
}

#api-editor.dark .api-master-resources {
  border-bottom: 1px solid @themes-dark-border-color;
}

#api-editor.dark .api-master-resources .api-resource-filter {
  border-bottom: 1px solid @themes-dark-border-color;
}

#api-editor.dark .api-master-resources .api-resource-filter .search-box {
  background-color: #333;
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-resources .api-resource-filter .dropdown-kebab-pf button {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-resources .api-resource {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-resources .api-resource:hover > div {
  background-color: #333;
}

#api-editor.dark .api-master-resources .api-resource .api-resource-action-kebab > button {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-definitions {
}

#api-editor.dark .api-master-definitions .api-definition-filter {
  border-bottom: 1px solid @themes-dark-border-color;
}

#api-editor.dark .api-master-definitions .api-definition-filter .search-box {
  background-color: #333;
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-definitions .api-definition-filter .dropdown-kebab-pf button {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-definitions .api-definition {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-master-definitions .api-definition:hover > div {
  background-color: #333;
}

#api-editor.dark .api-master-definitions .api-definition .api-definition-action-kebab > button {
  color: @themes-dark-font-color;
}

#api-editor.dark .api-path-parameters td.icons i:hover {
  color: #ddd;
}

#api-editor.dark .api-response .tlabel span {
  color: #ccc;
}

#api-editor.dark .api-detail {
  color: #dde;
  background-color: #333;
}

#api-editor.dark .api-detail select {
  background-color: #333;
  border: 1px solid #999;
}

#api-editor.dark .api-detail .table-striped > tbody > tr:nth-of-type(2n) {
  background-color: rgba(0, 0, 0, 0.2);
}

#api-editor.dark .api-detail .table > thead > tr > th, #api-editor.dark .api-detail .table > tbody > tr > th, #api-editor.dark .api-detail .table > tfoot > tr > th, #api-editor.dark .api-detail .table > thead > tr > td, #api-editor.dark .api-detail .table > tbody > tr > td, #api-editor.dark .api-detail .table > tfoot > tr > td {
  border-top: 1px solid @themes-dark-border-color;
}

#api-editor.dark .api-detail .api-detail-title {
  border-bottom: 1px solid @themes-dark-border-color;
  background-color: #212;
}

#api-editor.dark .api-detail .api-detail-body hr {
  border-top: 1px solid @themes-dark-border-color;
}

#api-editor.dark .tooltip-inner {
  background-color: #ccc;
  color: #333;
}

#api-editor.dark .tooltip.top .tooltip-arrow {
  border-top-color: #ccc;
}
